
<div class="space"></div>

<h1>Calculator</h1>

<h2>Enter how many hours you need tutoring for to generate a quote</h2>

<div class="space"></div>

<p>Hourly Rate: $20</p>

<form>
    <label for="hours">How many hours of tutoring do you need?</label><br /><br />
    <input name="hours" id="hours" /><br /><br /><br />
    <button type="button" id="submit" onclick="Calculate()">Get Quote</button><br />

    <input name="output" id="output" readonly>
</form>
