<div class="space"></div>

<h1>My Favorite Hobby is Smoking Meat</h1>
<br />
<br />

<main>
    <section>
        <img src="images/ribs.jpg" />
        <p>
            My favorite meat to smoke is ribs. I start by putting them in a hickory marinade, and a bit of lemon juice, pineapple juice, and apple cider vinegar to
            break down the fat and tenderize the meat. After brining for 24 hours, I use a 3-2-1 method to smoke the ribs. I rub the ribs with some seasonings and smoke for 3 hours.
            Then I wrap the ribs in tin foil with butter, honey, barbecue sauce, hot sauce, and apple cider vinegar. I put the wrapped ribs on the smoker for 2 more hours.
            This is where the ribs really get tender and fall off the bone. For the last hour of smoking, I unwrap the ribs and brush them with my glaze. This last hour is just
            to get the glaze covered in smoky flavor.
        </p>
    </section>

    <section>
        <img src="images/pork.jpg" />
        <p>
            My second favorite meat to smoke is pulled pork. I marinade the pork shoulder in dr pepper to break down the meat and fill it with flavor. I rub the pork shoulder with
            my favorite seasonings and start smoking. The amount of time depends on how big the pork shoulder is, but I smoke it at a consistent 225 degrees.
            Smoking at a consistent temperature helps render the fat. I smoke until it reaches 165 degrees internally, and then I take it out to wrap in tin foil.
            This helps the pork shoulder retain its moisture. Then I put it back on until the internal temperature reaches 200 degrees. Then I just shred it and enjoy.
        </p>
    </section>
</main>
